#####################################################################
#  
#  File: idex_variables.cfg
#  Version: 1.0
#  Last modification date: July 20, 2025
#  Last modified by: Joseph Greiner
#
#  License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
#
#####################################################################
#
#  This file contains definitions and variables for managing
#  and customizing IDEX functionality.
#
#  Macros within this file:
#
#      IDEX_VARS
#      DOCKABLE_PROBE
#      FILAMENT_VARS
#
#  Files included at the end of this file, uncomment for your printer:
#      [include idex_macros.cfg]           IDEX required macros.
#      [include homing_macros.cfg]         IDEX homing overrides.
#      [include general_macros.cfg]        print_start / print_end and similar macros.
#      [include stealthburner_macros.cfg]  Tool head LED macros.
#      [include filament_macros.cfg]       Filament switch / handling macros.
#      [include nudge_macros.cfg]          Nozzle offset probing macros.
#
#####################################################################

##--------------------------------------------------------------------
## !!! Lines between the dashed lines need to be looked at and configured !!!
##--------------------------------------------------------------------

#####################################################################
#   Macro files that need to be included.
##  Uncomment the extra's you would like to use.
##  idex_macros.cfg, homing_macros.cfg and general_macros.cfg are required.
#####################################################################

[include tool_change_macros.cfg]
[include idex_macros.cfg]
[include homing_macros.cfg]
[include general_macros.cfg]
##--------------------------------------------------------------------
#[include stealthburner_macros.cfg]
#[include filament_macros.cfg]
#[include nudge_macros.cfg]
##--------------------------------------------------------------------

#####################################################################
#  Save file definition
#    Stores configuration changes between printer restarts.
#####################################################################

[save_variables]
filename: ~/printer_data/config/idex_config/idex_save_file.cfg

#####################################################################
#  Variables and options for IDEX functionality
#####################################################################

[gcode_macro IDEX_VARS]

# Homing location and speed:
###   Variables for safe homing, set to z_endstop / Nudge location OR safe location when using
###   the probe for your Z endstop.
###   This is not the location of the dock for detachable probes
###   The feed rate is in mm per minute, so 3600 is equal to 60mm/s
variable_homing_safe_x: -1000
variable_homing_safe_y: -1000

variable_homing_feedrate: 12000
# Set to True for a dockable probe
variable_docking_probe: False

# Display color in Mainsail for the active tool this is in HEX code: RRGGBB
# THE "" ARE REQUIRED!
variable_active_tool_color: "FF6A13"

# Distance from end of axis to park the tool head, needed for x/y offsets. default: 3
###   This NEEDS to be larger than your X offset.
###   If your nozzle doesn't line up with your ooze guard then ADJUST THE OOZE GUARD!
###   This variable will be automatically adjusted by the macros now, however, I still
###   recommend larger than your X offset
variable_park_distance_t0: 3
variable_park_distance_t1: 3

# Print cooling fans names from your toolboard_0.cfg and toolboard_1.cfg.
variable_fan0: 'print_cooling_t0'
variable_fan1: 'print_cooling_t1'

# Tool change parameters.
###   default autopark: 0:inactive - 1:active.
###   z_hop is distance in mm.
###   The feed rate is in mm per minute, so 3600 is equal to 60mm/s.
variable_autopark: 1
variable_z_hop: 1
variable_feedrate: 12000

# Nozzle Scrub / Purge
###   Variables for scrubbing the nozzle and purge when changing tools.
###   The scrub is only used when Classic or Ooze_Prev tool change is selected.
###   These are not used when Swap tool change method is selected.
variable_scrub: 1
variable_scrubs: 5
variable_prep_spd_xy: 3000
variable_purge_length: 0
variable_purge_spd: 150
variable_purge_ret: 0
variable_ooze_dwell: 1
variable_purge_temp_min: 200

# Copy and mirror mode start location for T0, T1 start will be calculated off these values.
###   This position is where to start the syncronization between the tool heads.
###   I recommend placing it near the ending location for your T0 purge.
variable_copy_start_x: 5
variable_copy_start_y: 5
variable_copy_start_z: 5

# Information reporting to the console, default: 0
###   Valid levels: 0 - no reporting to the console.
###                 1 - reporting standard messages.
###                 2 - report everything to the console.
variable_debug_level: 0

# Are tool head LEDs installed and should the macros change them automatically?
###   If tool head LEDs are used then they must be defined in the toolboard config files.
###   The index for the LEDs tells klipper where on the chain these LEDs are at.
###   Stealthburner logo is index 1, Dragonburner logo index is 3.
variable_toolhead_led: False
variable_toolhead_led_logo_idx: "1"
variable_toolhead_led_nozzle_idx: "2,3"

# Input shaper values, place in here, they will be applied before each print.
variable_t0_shaper_type_x: "ei"
variable_t0_shaper_type_y: "ei"
variable_t0_shaper_freq_x: 47.8
variable_t0_shaper_freq_y: 62.8
variable_t1_shaper_type_x: "MZV"
variable_t1_shaper_type_y: "MZV"
variable_t1_shaper_freq_x: 46.6
variable_t1_shaper_freq_y: 61.8

# Find current offsets at the beginning of a print. Requires Nudge or similar probe. True or False.
variable_set_offset_at_print_start: False

#####################################################################
#   Variables below here are saved in idex_save_file.cfg.
#   Values in this file are placeholders and will be over written
#     from the data in that file on printer startup.
#####################################################################

# How tool changes should be done, valid values are:
# SWAP: Moves both tool heads at the same time, quickest tool change option.
# CLASSIC: Moves tool heads individually, classic Tridex behavior. This is the default value.
# OOZE_PREV: During tool change, leaves the tool over the parking area until the next gcode command.
#   Useful for when the heaters turn off or drop to a standby temperature between tool changes.

# Set the preferred_tool_change in the idex_save_file.cfg to one of the following values:
# preferred_tool_change = 'SWAP'
# preferred_tool_change = 'CLASSIC'
# preferred_tool_change = 'OOZE_PREV'

# Variables to store the tool head offsets, leave a 0.0
# Set your offsets in idex_save_file.cfg.
variable_offset_x: 0.0
variable_offset_y: 0.0
variable_offset_z: 0.0
# These variables are for the tool change method, do not edit.
# Set your preferred tool change in idex_save_file.cfg.
variable_swap_toolheads: 0
variable_immediate_move: 1
# Copy and mirrror mode T1 temperatures - do not edit, these are sent over by the slicer.
variable_t0_copy_mirror_temp_start: 0
variable_t1_copy_mirror_temp_start: 0
variable_t0_copy_mirror_temp_print: 0
variable_t1_copy_mirror_temp_print: 0

variable_active_tool: 0

gcode:

#####################################################################
#   DOCKABLE_PROBE
#   Variables required for dockable probes.
#####################################################################

[gcode_macro DOCKABLE_PROBE]
#  User variables to edit.
variable_docklocation_x:    -1000                   #  Dock position X.
variable_docklocation_y:    -1000                   #  Dock position Y.
variable_attach_speed:      3000                    #  Speed in mm / minute to attach the probe.
variable_release_speed:     4500                    #  Speed in mm / minute to dock the probe.

variable_dockclear_y:       30                      # How far forward in Y is the clearance for your dock.
variable_dockclear_x:       40                      # How far in the X to move to clear the dock when docking the probe.

#####################################################################
#  Variables to store information for use between macros.
##  These variables are for internal use of the macros, do not edit.
#####################################################################

variable_probe_attached:    False
variable_probe_state:       False
variable_probe_lock:        False

gcode:

#####################################################################
#  FILAMENT_VARS
#  Variables required for the filament macros
#  Please see toolboard_XX.cfg for the filament sensor definitions.
#  Many of the macros can be used without having a filament
#  runout sensor. Having the sensors just makes some of the features
#  in the macros automatic.
#####################################################################

[gcode_macro FILAMENT_VARS]

#####################################################################
#  Filament loading variables: 
#     These are used when auto-loading filament is enabled. 
#     When filament is put into the runout switch, the printer will
#     try to heat the appropriate hot end and purge the configured
#     amount of filament.
#  Adjust these variables to your machine.
#####################################################################

# Automatically load filament, 1 = enable, 0 = disable.
variable_auto_load_filament: 0
# Default filament extrusion temperature, set to your most commonly used filament.
variable_default_filament_temp: 250
# Length of time in milliseconds to pause between filament switch
# activation and time the extruder starts to try and feed filament.
# If the nozzle is not pre-heated, this delay is ignored because of the heat up time.
# This time is number of seconds x 1000. ie for 15 seconds use 15000.
variable_filament_load_delay: 10000
# Length of filament to extrude when loading.
# Must be less than or equal to max_extrude_distance under extruder configuration.
variable_default_filament_load_length: 100

#####################################################################
#  Filament rollover variables - used to automatically change tools
#  during a print if the printing tool runs out of filament.
#  Assumes the same filament type loaded into both tool heads.
#####################################################################

# Automatically rollover filament, 1 = enable, 0 = disable.
variable_filament_rollover: 0
# Length of filament to purge when rolling over.
variable_filament_rollover_purge: 10
# Distance from parking area to purge the idle extruder.
###   25 is enough to move the tool head off of the wiper arms
###   but also keep the purge off of the bed.
variable_filament_rollover_distance: 25
# Length of filament to extrude AFTER the runout switch has been triggered.
###   Make slightly less than the distance from your runout switch to your tool head.
###   450 is the distance from my frame mounted switches to my extruder with a 300mm build plate.
variable_filament_rollover_wait_distance: 450
# Time in seconds to check on the length of extruded filament since the switch was triggered.
###   Shorter will make it more accurate, but will run the macro more frequently.
variable_filament_rollover_wait_timer: 5
# Behavior for M600.
###   A 0 will pause the print and the user must unload and load the filament.
###   A 1 will heat up the other tool head and change to it.
variable_rollover_on_change_at_layer: 0              

#####################################################################
#  Variables to store information for use between macros.
##  These variables are for internal use of the macros, do not edit.
#####################################################################

variable_filament_rollover_extruder_initial_distance: 0
variable_filament_rollover_switch_id: 0

gcode:
