#####################################################################
#  
#  File: nudge_macros.cfg
#  Version: 1.0
#  Last modification date: January 14, 2025
#  Last modified by: Joseph Greiner
#
#  License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
#
#####################################################################
#
#  This file contains the [tool_calibrate] definitions and macros
#  used with Nudge by zruncho
#
#  github: https://github.com/zruncho3d/nudge
#
#  Macros within this file:
#
#      NUDGE_MOVE_OVER_PROBE
#      NUDGE_FIND_TOOL_OFFSET
#      IDEX_FIND_TOOL_OFFSETS
#      IDEX_UPDATE_OFFSETS
#      SET_OFFSET_AT_TOOL_CHANGE --- DO NOT USE YET, UNFINISHED
#
#####################################################################

#####################################################################
#   tool_calibrate definition
#####################################################################

[tools_calibrate]
# Nudge config
#
# These two values should be changed or checked.
#
# 'pin' should reference the pin used for Nudge.
pin: PG12
# 'spread' is the amount of X or Y motion used in the probing sequence.
# Think of it as the clearance from the center, to accomodate the pin's diameter and any
# initial starting-point inaccuracy.
# For larger pins (5mm), increase this to 3.5mm+.
#   Increase this and/or improve the accuracy of the starting point if the probe triggers too early.
#   Decrease this and/or improve the accuracy of the starting point if the motion
#     pushes your printer beyond the allowed travel amount.
spread: 5
#
# Config below is unlikely to need changes.
#
# 'lower_z' is the distance below the probe tip in Z, used to ensure a hit.
#   Increase this to have more of the nozzle hit during probing.
#   Values as low as 0.1mm may work, and will minimize the need for overtravel.
lower_z: 0.2
travel_speed: 100
speed: 2.5
lift_speed: 4
final_lift_z: 4
sample_retract_dist: 3
samples_tolerance: 0.050
samples: 3
samples_result: median
trigger_to_bottom_z: 3
# If using a built-in Z probe to find the Nudge pin top, reference it here.
# This is only relevant for the flipped configuration, to provide resistance to pushing, for Tap/Boop/Poke/etc.
# Most should leave this commented out.
#probe: probe

#####################################################################
#   NUDGE_MOVE_OVER_PROBE
#####################################################################

[gcode_macro NUDGE_MOVE_OVER_PROBE]
description: Move tool head to probing position.
gcode:
  {% set idxvars = printer["gcode_macro IDEX_VARS"] %}
  # Pull Nudge location from the idxvars homing_safe_x and homing_safe_y, since nudge is also the Z endstop.
  G0 X{idxvars.homing_safe_x} Y{idxvars.homing_safe_y} F{idxvars.homing_feedrate}
  # Park just above nudge.
  G0 Z3

#####################################################################
#   NUDGE_FIND_TOOL_OFFSET
#####################################################################

[gcode_macro NUDGE_FIND_TOOL_OFFSET]
description: Find the location of the probe for the tool head.
gcode:
  NUDGE_MOVE_OVER_PROBE
  TOOL_LOCATE_SENSOR

#####################################################################
#   IDEX_FIND_TOOL_OFFSETS
#####################################################################

[gcode_macro IDEX_FIND_TOOL_OFFSETS]
description: Calibrates the offsets between T0 and T1
gcode:
    {% set idxvars = printer["gcode_macro IDEX_VARS"] %}
    DISPLAY_CURRENT_OFFSETS
    RESPOND MSG="Current offsets set to:"
    T0
    # Warm up the hot ends to normal probing temperatures
    M104 T1 S150
    M109 T0 S150
    # If not homed, home the printer
    CHOME
    # Verify the location of nudge
    NUDGE_FIND_TOOL_OFFSET
    # Activate T1
    T1
    # Make sure T1 is at temp
    M109 T1 S150
    # Make sure T1 is over the probe
    NUDGE_MOVE_OVER_PROBE
    # Calibrate the offset
    TOOL_CALIBRATE_TOOL_OFFSET
    # Update and save tool offsets
    IDEX_UPDATE_OFFSETS

    {% if printer.idle_timeout.state != "Printing" %}
      # Move to the center of the bed and switch to T0
      G0 X{(printer.configfile.config.stepper_x.position_min|float + printer.configfile.config.dual_carriage.position_max|float) / 2} Y{printer.configfile.config.stepper_y.position_max|float / 2} F{idxvars.homing_feedrate}
      T0
      # Cool off both hot ends
      M104 S0 T0
      M104 S0 T1
    {% else %}
      # Just switch back to T0 and let the calling macro take control
      T0
    {% endif %}

#####################################################################
#   IDEX_UPDATE_OFFSETS
#####################################################################

[gcode_macro IDEX_UPDATE_OFFSETS]
description: Update the offsets gotten from the last probe sequesnce.
gcode:
    # Update the variables that hold the offsets
    SET_GCODE_VARIABLE MACRO=IDEX_VARS VARIABLE=offset_x VALUE={printer.tools_calibrate.last_x_result|round(3)}
    SET_GCODE_VARIABLE MACRO=IDEX_VARS VARIABLE=offset_y VALUE={printer.tools_calibrate.last_y_result|round(3)}
    SET_GCODE_VARIABLE MACRO=IDEX_VARS VARIABLE=offset_z VALUE={printer.tools_calibrate.last_z_result|round(3)}
    # Save the new offsets
    SAVE_OFFSETS_TO_DISK
    # Show us the saved offsets
    DISPLAY_CURRENT_OFFSETS
    RESPOND MSG="Offsets updated to:"