#####################################################################
#  
#  File: change_macros.cfg
#  Version: 1.0
#  Last modification date: August 11, 2025
#  Last modified by: Joseph Greiner
#
#  License: GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
#
#####################################################################
#
#  This file contains the Tx macros for tool changes for IDEX.
#  The printer can optionally have a Box Turtle on either tool head.
#  
#  Options that should be configured when adding a Box Turtle:
#
#  variable_tool_num: Should match the number of the Tx macro T0 = 0, T1 = 1, T2 = 2 etc.
#  variable_carriage_num: Carriage the tool is on, 0 for left side, 1 for right side.
#  variable_btlane: Lane used on the BoxTurtle (1,2,3,4) or 0 when Box Turtle is not used.
#
#
#  Default setup below is for standard Tridex; T0 on left carriage, T1 on right carriage. No Box Turtle installed.
#
#####################################################################

#####################################################################
#   T0 macro
#   In PRIMARY mode activates tool 0, parks tool 1 if enabled.
#####################################################################

[gcode_macro T0]
variable_color: ""
variable_tool_num: 0
variable_carriage_num: 0
variable_btlane: 0
gcode:
  _ACTIVATE_TOOL TOOL_NUM={tool_num} CARRIAGE={carriage_num} BT_LANE={btlane}
  {% if printer.AFC is defined %}
    {% if (btlane|int == 0) and (printer.AFC.current_load|string|upper != "NONE") %}
      SET_ESPOOLER_VALUES LANE={printer.AFC.current_load|string} ENABLE_ASSIST=0
    {% elif btlane|int > 0 %}
      SET_ESPOOLER_VALUES LANE=lane{btlane|string} ENABLE_ASSIST=1
    {% endif %}
  {% endif %}

#####################################################################
#   T1 macro
#   In PRIMARY mode activates tool 0, parks tool 1 if enabled.
#####################################################################

[gcode_macro T1]
variable_color: ""
variable_tool_num: 1
variable_carriage_num: 1
variable_btlane: 0
gcode:
  _ACTIVATE_TOOL TOOL_NUM={tool_num} CARRIAGE={carriage_num} BT_LANE={btlane}
  {% if printer.AFC is defined %}
    {% if (btlane|int == 0) and (printer.AFC.current_load|string|upper != "NONE") %}
      SET_ESPOOLER_VALUES LANE={printer.AFC.current_load|string} ENABLE_ASSIST=0
    {% elif btlane|int > 0 %}
      SET_ESPOOLER_VALUES LANE=lane{btlane|string} ENABLE_ASSIST=1
    {% endif %}
  {% endif %}

#####################################################################
#   T2 macro
#   In PRIMARY mode activates tool 0, parks tool 1 if enabled.
#####################################################################

# [gcode_macro T2]
# variable_color: ""
# variable_tool_num: 2
# variable_carriage_num: 1
# variable_btlane: 2
# gcode:
#   _ACTIVATE_TOOL TOOL_NUM={tool_num} CARRIAGE={carriage_num} BT_LANE={btlane}
#   {% if printer.AFC is defined %}
#     {% if (btlane|int == 0) and (printer.AFC.current_load|string|upper != "NONE") %}
#       SET_ESPOOLER_VALUES LANE={printer.AFC.current_load|string} ENABLE_ASSIST=0
#     {% elif btlane|int > 0 %}
#       SET_ESPOOLER_VALUES LANE=lane{btlane|string} ENABLE_ASSIST=1
#     {% endif %}
#   {% endif %}

#####################################################################
#   T3 macro
#   In PRIMARY mode activates tool 0, parks tool 1 if enabled.
#####################################################################

# [gcode_macro T2]
# variable_color: ""
# variable_tool_num: 2
# variable_carriage_num: 1
# variable_btlane: 2
# gcode:
#   _ACTIVATE_TOOL TOOL_NUM={tool_num} CARRIAGE={carriage_num} BT_LANE={btlane}
#   {% if printer.AFC is defined %}
#     {% if (btlane|int == 0) and (printer.AFC.current_load|string|upper != "NONE") %}
#       SET_ESPOOLER_VALUES LANE={printer.AFC.current_load|string} ENABLE_ASSIST=0
#     {% elif btlane|int > 0 %}
#       SET_ESPOOLER_VALUES LANE=lane{btlane|string} ENABLE_ASSIST=1
#     {% endif %}
#   {% endif %}

#####################################################################
#   T4 macro
#   In PRIMARY mode activates tool 0, parks tool 1 if enabled.
#####################################################################

# [gcode_macro T2]
# variable_color: ""
# variable_tool_num: 2
# variable_carriage_num: 1
# variable_btlane: 2
# gcode:
#   _ACTIVATE_TOOL TOOL_NUM={tool_num} CARRIAGE={carriage_num} BT_LANE={btlane}
#   {% if printer.AFC is defined %}
#     {% if (btlane|int == 0) and (printer.AFC.current_load|string|upper != "NONE") %}
#       SET_ESPOOLER_VALUES LANE={printer.AFC.current_load|string} ENABLE_ASSIST=0
#     {% elif btlane|int > 0 %}
#       SET_ESPOOLER_VALUES LANE=lane{btlane|string} ENABLE_ASSIST=1
#     {% endif %}
#   {% endif %}